body{background-image: url('../images/background1.jpeg');
     margin: 0; 
	 height: 100%;
	 width: 100%;
	 color: #555555;
    overflow: hidden;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}

p{margin: 3px;
  color: #000033}

#big{position:absolute;
    font-size: 70px;
    top:0;
    left:210px;}

#calories{font-size: 65px;
          left: 580px;
		  position: absolute;
		  top: 180px;}
		
#column2{font-size: 65px;
        position: absolute;
        right:150px;
		top:150px;}
	   
#image{width:150px;
       height:150px;
       position:absolute;
       top:-10px;
       left:-10px;}
	   
img{height: 300px;
    width: 300px;
	position:absolute;
	top: 400px;}

input[type=submit]{
        position:absolute;
        width:165px;
        height:100px;
        left: 1180px;
        top: 170px;
        background-color: navajowhite;
        }

.plus{width:100px;
     height:100px;
     position:absolute;
     top:-10px;
     left:-10px;}

#img1{left:1120px;}

#img2{left:620px;}
	 
#img3{left:130px;}

input{position: absolute;
      top: 340px;
	  width: 230px;
	  height: 45px;
	  font-size: 50px;}

#input1{left:160px;}

#input2{left:650px;}

#input3{left:1150px;}

#home{position:absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    cursor: pointer;
width:150px;}

.flash { margin: 1em 0;
         padding: 1em;
         background: #ffffff;
         border: 2px solid black;
         z-index: 10000;
         position:absolute;
         left: 270px;
         top: 220px;
         color: #cc0000;
         font-size: 30px;}

#divider {height: 1600px;
        position: relative;
        width: 100%;}
#divider::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
