.food {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}

.dropbtn {
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	float: left;
}

.dropdown-content  {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	font-size: 14px;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: gray;
}

.Dab {
    right: 39px;
    position: relative;
    top: 9px;
    height: 36px;
    width: 53px;
}


#special{
    z-index: 8;
    white-space: nowrap;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(110, 86, 80);
    font-family: "Roboto Slab";
    padding: 10px 30px;
    border-color: rgb(110, 86, 80);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    visibility: inherit;
    transition: none 0s ease 0s;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    position: absolute;
    bottom: 200px;
    left: 20px;
}
#special:hover{
   background-color: rgb(104, 81, 75);
   color: white;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
}
body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fafafa;
}


#navbar .navbar {
    border-radius: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.navbar {
  border: 0;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #555;
  background-color: #fff !important;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}
.navbar>.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1386px
}

.navbar .navbar-brand {
	padding: 22px 20px;
	height: 80px;
	font-size: 25px;
	transition: 3s;
	color: #555;
}
.navbar .navbar-nav{
	list-style: none;
	float: right;
	margin: 0px;
	padding: 0px;
	display: flex;
}
.navbar .navbar-nav .nav-item{
	list-style: none;
}
.navbar .navbar-nav .nav-item .nav-link{
	line-height: 80px;
	color: #555;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
    font-size: 22px;
}
.navbar .navbar-nav .nav-item .btn{
	line-height: 80px;
	color: #555;
	padding: 12px 30px ;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
	background: #E2472F;
	color: #fff;
	border-radius: 6px;
	margin-right: 1.25rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar {
    border: 0;
    border-radius: 3px;
    padding: 0.625rem 0;
    margin-bottom: 20px;
    color: #555;
    background-color: #fff;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-expand-lg>.container{
    flex-wrap: nowrap;
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
.navbar-expand-lg .navbar-toggler {
    display: none;
}
.navbar-expand-lg .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
}

.center{
	margin-left: auto !important;
	margin-right: auto !important;
	flex: 0 0 66.666667%;
    max-width: 66.666667%;
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.description {
    color: #999;
	font-size: 1.0625rem;
    line-height: 1.55em;
    margin-bottom: 15px;
	margin-top: 10px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.blue {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	color: #999;
}
.ice{
    z-index: 6;
    white-space: nowrap;
    font-size: 23px;
    line-height: 28px;
    font-weight: 200;
    color: rgb(110, 86, 80);
    font-family: Lato;
    visibility: inherit;
    transition: none 0s ease 0s;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    position: absolute;
    bottom: 300px;
    left: 20px;
}
.top-left {
    font-family: Lato;
    position: absolute;
    bottom: 358px;
    left: 20px;
    font-size: 56px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: rgb(110, 86, 80);
}
.waffle{
    z-index: 7;
    white-space: normal;
    font-size: 21px;
    line-height: 23px;
    font-weight: 600;
    color: rgb(110, 86, 80);
    font-family: "Roboto Slab";
    letter-spacing: 0px;
    visibility: inherit;
    transition: none 0s ease 0s;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    position: absolute;
    bottom: 266px;
    left: 20px;
}