body{color: #555555;}

p{font-size:20px;
  position:absolute;
  left:205px;
  bottom: 70px;
  }

.flash{margin: 1em 0;
       padding: 1em;
       background: #ffffff;
       border: 2px solid black;
       z-index: 10000;
       color: #cc0000;
       font-size: 30px;}
