<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="images/favicon.ico" sizes="16x16" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Counter</title>
    <link rel="stylesheet" type="text/css" href='/static/css/cal count.css'>
    <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
<div id ='divider'>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
    <p id='big'>Total Calories Consumed Today:</p><br>
    <p id='calories'>{{ result }} Calories</p>
    <p id='column2'></p>
    <img id='img1' src='/static/images/scales.png' alt="scale">
    <img id='img2' src='/static/images/scales.png' alt="scale">
    <img id='img3' src='/static/images/scales.png' alt="scale">
    <form action="" method="POST">
        <input name='calorie1' id="input1" placeholder="0" value="0">{{ form.calorie1 }}
        <input name='calorie2' id="input2" placeholder="0" value="0">{{ form.calorie2 }}
        <input name='calorie3' id="input3" placeholder="0" value="0">{{ form.calorie3 }}
        <input id="but" type="submit" value="add" style>{{ form.submit }}
    </form>
</div>
  <a href="/"><img id="home" src="/static/images/home.png" alt="home button"></a>
</body>
</html>
