<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/Homepagee.css"/>
    <title>Makan</title>

</head>

<body>
     <nav class="navbar navbar-default navbar-expand-lg" >
            <div class="container">
              <div class="navbar-translate">
                <a class="navbar-brand" href="/">MAKAN</a>
                <img src="/static/images/image3.jpg" alt="avatar" height="42" width="42" class="Dab">
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                      {% if not loggedIn %}
                        <li class="nav-item">
                           <a href="/login/" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                           <a href="/register/" class="nav-link">Register</a>
                        </li>
                      {% else %}
                          <div class="dropdown">
                            <button class="dropbtn">Hello, <br>{{username}}</button>
                            <div class="dropdown-content">
                                <a href="/profile">Your profile</a>
                                <hr>
                                <a href="/logout">Sign Out</a>
                            </div>
                          </div>
                      {% endif %}
                  </ul>
            </div>
     </nav>
     <div>
         <img src = "/static/images/home16.jpeg" class= "food">
         <div class="top-left">Makan</div>
         <a href="/map" id="special">Map</a>
     </div>
      </body>
</html>