<!DOCTYPE HTML>
<html lang="en">
  <head>
     <meta charSet="utf-8"/>
     <title>Register</title>
     <link rel="stylesheet" href= "/static/css/signup.css"/>
     <link rel="shortcut icon" href="/static/images/favicon.ico" />
      <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
      {%  from "_formhelper.html" import render_field %}
 </head>
 <body >
     <div class = "blue">
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
         {% endwith %}
         <div class = "container">
                <div class = "login">
                    <form class = "form"  method ='POST' action = "/register" onsubmit="return validate()">
                     <span class="form-title b">
                           Don't have an account? create one and join us!
                     </span>
          			 <span class="txt1 white">
						Username
					 </span>
					 <div class="wrap-input100 validate-input m-b-36" >
						 <input class="input100" type="text" name="username"  required>
						 <span class="focus-input100"></span>
					 </div>

					 <span class="txt1 blue">
						Password
					 </span>
					 <div class="wrap-input100 validate-input m-b-12" >
						 <input class="input100" type="password" name="pass" id="cpassword" required>
						 <span class="focus-input100"></span>
					 </div>
                     <span class="txt1 blue">
						Town you live in
					 </span>
					 <div class="wrap-input100 validate-input m-b-12" >
						 <input class="input100" type="text" name="town"  required>
						 <span class="focus-input100"></span>
					 </div>
                     <span class="txt1 blue">
						weight
					 </span>
					 <div class="wrap-input100 validate-input m-b-12" >
						 <input class="input100" type="text" name="weight"  required>
						 <span class="focus-input100"></span>
					 </div>
                     <span class="txt1 blue">
						height
					 </span>
					 <div class="wrap-input100 validate-input m-b-12" >
						 <input class="input100" type="text" name="height"  required>
						 <span class="focus-input100"></span>
					 </div>
                     <div class="container-login100-form-btn">
							<a href="/login/" type = "submit" class="login100-form-btn">
							Sign Up
						 </a>
					 </div>
                  </form>
                  <div class = "more" >
                  </div>
             </div>
         </div>
     </div>
    </body>
</html>