<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form action="/register" method="POST" onsubmit="return validate()">
    <p>Username: <input type="text" name="email"></p>

    <P>Password: <input type="password" name="password" id="password" required></p>

    <p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>

    <p>Town: <input type="text" name="firstName"></p>
    <p>Weight: <input type="text" name="lastName"></p>
    <p>Height: <input type="text" name="address1"></p>

    <p><input type="submit" value="Register"></p>

    <a href="/login">Login here</a>
</form>
</body>
</html>
