<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="userprofile.css"/>
	
</head>

<body>
     <nav class="navbar navbar-default navbar-expand-lg" role="navigation-demo">
            <div class="container">
              <div class="navbar-translate">
                <a class="navbar-brand" href="">MAKAN</a>
				<img src="icon.jpeg" alt="avatar" class="Dab">
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
				  <li class="nav-item">
                    <a href="" class="nav-link">
                      UserName
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="dropdown">
                      Log out
                    </a>
                  </li>
                </ul>
              </div>
            </div>
         </nav>
     <div>
         <img src = "/static/images/background.jpg" id = "food">
         <input type="submit" value="Map"></input>
     </div>
      </body>
</html>
